<div class="ek-tabs">
    <a href="{{ admin_url('newsletter/suscriptores') }}" class="ek-tab {{ tab == 'subscribers' ? 'is-active' : '' }}">Suscriptores</a>
    <a href="{{ admin_url('newsletter/campanas') }}" class="ek-tab {{ tab == 'campaigns' ? 'is-active' : '' }}">Campañas</a>
</div>
