{# Pestañas: Píxeles / Banners. Var: tab #}
<div class="ek-tabs">
    <a class="ek-tabs__tab {{ tab == 'pixeles' ? 'is-active' : '' }}" href="{{ admin_url('pixeles') }}">Píxeles y scripts</a>
    <a class="ek-tabs__tab {{ tab == 'banners' ? 'is-active' : '' }}" href="{{ admin_url('banners') }}">Banners</a>
</div>
