<div class="ek-tabs">
    <a href="{{ admin_url('impuestos') }}" class="ek-tab {{ tab == 'taxes' ? 'is-active' : '' }}">Impuestos</a>
    <a href="{{ admin_url('impuestos/grupos') }}" class="ek-tab {{ tab == 'groups' ? 'is-active' : '' }}">Grupos de reglas</a>
</div>
